<div class="container">
    <div class="my-3">
        <h1 style="margin-bottom: 40px">Category Insert</h1>
        <span class="p-float-label" style="margin-bottom: 35px">
            <input id="float-input" type="text" pInputText [(ngModel)]='categoryReq.name' style="width: 100%;">
            <label for="float-input">Name</label>
        </span>
        <span class="p-float-label" style="margin-bottom: 25px">
            <input id="float-input" type="text" pInputText [(ngModel)]='categoryReq.code' style="width: 100%;">
            <label for="float-input">Code</label>
        </span>

        <div class="mb-5">
            <label class="form-label">Active</label>
            <div>
                <p-radioButton name="activeRadio" [value]="true" [(ngModel)]='categoryReq.isActive'
                    style="margin-right: 5px;"></p-radioButton>
                <label style="margin-right: 15px;">
                    Yes
                </label>

                <p-radioButton name="activeRadio" [value]="false" [(ngModel)]='categoryReq.isActive'
                    style="margin-right: 5px;"></p-radioButton>
                <label>
                    No
                </label>
            </div>
        </div>
        <button pButton type="button" label="Submit" class="p-button-primary"
            (click)="onClick()" style="height:100%; width: 100%;"></button>
    </div>
</div>